Домашнее задание

Задание 1

Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [8]:
import pandas as pd

In [9]:
movie_rating = pd.read_csv('ratings.csv')
movie_rating.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [10]:
movie_rating[ movie_rating['rating'] == 5 ]['movieId'].value_counts().head(1)

318    31896
Name: movieId, dtype: int64

Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [11]:
mydf_power = pd.read_csv('power.csv')
mydf_power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [12]:
mydf_power[ ((mydf_power['year'] >= 2005) & (mydf_power['year'] <= 2010)) & ((mydf_power['country'] == 'Litva') | (mydf_power['country'] == 'Latvia') | (mydf_power['country'] == 'Estonia')) & ((mydf_power['category'] == 4) | (mydf_power['category'] == 12) | (mydf_power['category'] == 21)) & (mydf_power['quantity'] > 0) ]['quantity'].sum()

118284.0

Задание 3

Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [18]:
table_html = pd.read_html('https://www.finanz.ru/valyuty/v-realnom-vremeni', encoding='utf-8')[1]
table_html.head(15)

,Unnamed: 0,Рубль,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
0,NaN,GBP/RUB,953028,-,953873,"-0,09 %",-00845,15.08.2020
1,NaN,EUR/RUB,862670,-,862450,"0,03 %",00220,15.08.2020
2,NaN,USD/RUB,728225,-,729945,"-0,24 %",-01720,15.08.2020
3,NaN,JPY/RUB,06836,-,06838,"-0,02 %",-00002,15.08.2020
4,NaN,CNY/RUB,104776,-,104861,"-0,08 %",-00085,15.08.2020
5,NaN,CHF/RUB,801150,-,801689,"-0,07 %",-00539,15.08.2020
6,NaN,Евро,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
7,NaN,EUR/USD,11842,-,11844,"-0,01 %",-00002,15.08.2020
8,NaN,EUR/GBP,09051,-,09047,"0,05 %",00004,15.08.2020
9,NaN,EUR/JPY,1261950,-,1262300,"-0,03 %",-00350,15.08.2020
10,NaN,EUR/CHF,10765,-,10768,"-0,03 %",-00003,15.08.2020
11,NaN,Доллар США,Предложение,Спрос,Предыдущее закрытие,%,Абсолютное значение,Время
12,NaN,USD/EUR,08445,-,08444,"0,01 %",00001,15.08.2020
13,NaN,USD/GBP,07641,-,07641,"0,01 %",00001,15.08.2020
14,NaN,USD/JPY,1065300,-,1069400,"-0,38 %",-04100,15.08.2020